:root {
	--font: 'Rosarivo', cursive;
	--black: #131312;
	--white: #e0dfdd;
}

html {
	font-size: clamp(1.3rem, 4vw, 1.6rem);
}

body {
	font-size: var(--font-size-base);
	font-family: var(--font);
	background: var(--black) url('./texture.jpg') fixed no-repeat;
	background-size: cover;
	line-height: 1.8;
	color: var(--white);
	height: auto;
	min-height: 100dvh;
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		'header'
		'main'
		'footer';
}

header {
  grid-area: header;
	padding-block-start: 2rem;
}

main {
  grid-area: main;
	max-width: 66ch;
	padding: clamp(1rem, 4vw, 2rem);
}

footer {
  grid-area: footer;
	padding-inline: clamp(1rem, 4vw, 2rem);
}

a {
	color: var(--white);
	text-decoration: none;
	position: relative;
}

a::after {
	transform: rotate(180deg);
	position: absolute;
	left: 0;
	right: 0;
	bottom: -0.2rem;
	content: "";
	display: block;
	width: 5rem;
	height: 1rem;
	background-image: url('./stroke.svg');
	background-repeat: no-repeat;
}

content {
	line-height: 1.6;
}