:root {
	--font: 'Rosarivo', cursive;
	--black: #131312;
	--white: #e0dfdd;
	--red: #B80000;
}

html {
	margin: 0;
}

body {
	margin: 0;
	font-size: clamp(1.2rem, 4vw, 1.2rem);
	font-family: var(--font);
	background: var(--black) url('./texture2.webp') fixed no-repeat;
	background-size: cover;
	line-height: 1.8;
	color: var(--white);
	height: auto;
	min-height: 100dvh;
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		'header'
		'main'
		'footer';
}

header {
  grid-area: header;
	padding-block-start: 2rem;
}

main {
  grid-area: main;
	max-width: 66ch;
	padding: clamp(1rem, 4vw, 2rem);
}

.portrait {
	width: 100px;
	height: auto;
	border-radius: 50%;
	margin: auto;
}

footer {
  grid-area: footer;
	padding-inline: clamp(1rem, 4vw, 2rem);
}

a {
	color: var(--red);
	text-decoration: underline;
}

content {
	line-height: 1.6;
}