---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<img src="./me.jpg" alt="a portrait of myself" class="portrait">
			<p>Hello! I've been time traveling through industry experience and am currently working at <a href="https://970design.com">970 Design</a>. My heart lies in semantic html with css. I find joy in working through the process of turning an idea into a coded, usable experience, especially when there are new things to try along the way.</p>

			<p>Currently having fun learning <a href="https://astro.build/">Astro</a> and <a href="https://www.sanity.io/">Sanity</a>.</p>

			<p>Some notable clients I've been a part of include GoPro, Nike, Tahiti, Yosemite, and Pokemon.</p>

			<p>While not working, I'm usually pedaling any sort of bicycle, playing video games, searching for new music, spending time with my partner, or trying to wear our dogs out. Other times, I'm doing absolutely nothing!</p>

			<p>Oh yeah, I put photos up on <a href="https://glennscrap.com">glennscrap.com</a></p>
		</main>
		<Footer />
	</body>
</html>
