---
const today = new Date();
---

<footer>
	<ul>
		<li><a href="mailto:gweatherson@gmail.com">gweatherson@gmail.com</a></li>
		<li><a href="https://www.linkedin.com/in/glenn-weatherson-906736247/">LinkedIn</a></li>
		<li><a href="https://github.com/gweatherson">Github</a></li>
	</ul>
</footer>
<style>
	footer {
		text-align: center;
	}

	footer ul {
		list-style: none;
		display: flex;
		flex-direction: column;
		text-transform: lowercase;
		justify-content: center;
		padding: 0;
	}

	footer a {
		padding: 1rem;
	}

	footer a::after {
		display: none;
	}

	@media (min-width: 768px) {
		footer ul {
			flex-direction: row;
		}
	}
</style>
